body{
  margin:0;
  font-family: "Roboto", sans-serif;
  background:#f4f4f4;
}


header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
}


.logo img{
  width:120px;
}


.back-btn{
  background:#000;
  color:white;
  border:none;
  padding:10px 20px;
  cursor:pointer;
  border-radius:5px;
}


.reset-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  height:70vh;
}


.reset-card{
  background:white;
  padding:40px;
  width:350px;
  border-radius:8px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


.reset-card h2{
  margin-bottom:20px;
  text-align:center;
}


.reset-card label{
  font-size:14px;
}


.reset-card input{
  width:100%;
  padding:10px;
  margin:8px 0 20px 0;
  border:1px solid #ccc;
  border-radius:5px;
}


.reset-btn{
  width:100%;
  padding:12px;
  background:#000;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-size:15px;
}


.reset-btn:hover{
  background:#333;
}